body{
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
@font-face {
font-family: Journey to thailand;
src: url('../fonts/Journey to Thailand.ttf');
}
.particles-container{
  height:38.2vh;
  width:100vw;
  overflow: hidden;
  clip-path:polygon(0% 0%,100% 0%, 100% 100%,0% 61.8%);
}
#particles-js{
  height: 100%;
  width: 100%;
  transform:scale(1.1);
  background: linear-gradient(-100deg,#21D4FD,#B721FF);
  filter: blur(5px);
}

.clover{
  height: 64px;
  width: 64px;
  position: absolute;
  bottom: 61.8%;
  left:16px;
  background-image: url('../images/icons/clover.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(1.2) contrast(1.2);
}
.home-main{
  height:61.8vh;
  width:100%;
}
.home-main h1{
  color:#454545;
  font-size: 3rem;
  font-family: Journey to thailand;
  font-weight: 500;
  text-align: center;
  user-select: none;
  opacity: 1;
  padding-right: 0px;
  margin: 0;
  animation: title-anim 0.95s ease-out;
}
@keyframes title-anim{
    0%{
      opacity: 0;
    }
}

.home-main h2{
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: 800;
  text-align: center;
  user-select: none;
  position: relative;
  letter-spacing: 1em;
  text-transform: uppercase;
  padding-top: 0.8rem;
  color:#909090;
  opacity: 1;
  margin: 0;
  text-rendering: optimizeLegibility;
  animation: subtitle-anim 0.7s ease-out;
}
@keyframes subtitle-anim{
  0%{
    opacity: 0;
    letter-spacing: 1.25em;
  }
}
.home-main h2 span{
  display: block;
  padding-top: 4px;
}
.photos-section{
  z-index: 1;
}
.photos-section figure{
  margin-bottom: 0;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
.photos-section img{
  height:auto;
  width: 100%;
  max-width: 100%;
  filter: blur(5px);
  transform: scale(1.1);
  transition: all 0.25s ease-out;
}
.photos-section figure:hover img{
  filter: blur(0px);
}

.photos-section figcaption{
  position: absolute;
  top:0%;
  right: 0%;
}
.photos-section figcaption button{
  border:none;
  background: transparent;
  color:#fff;
  padding: 8px 8px;
  outline: none;
  cursor:pointer;
  opacity: 0;
  transition: all 0.25s ease-out;
}
.photos-section figure:hover figcaption button{
  opacity: 1;
}

/*desktop*/

@media (min-width:768px) {
  .particles-container{
    height:100vh;
    width: 38.2vw;
    clip-path:polygon(0% 0%,100% 0%,61.8% 100%,0% 100%);
  }
}
