body{
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
@font-face {
font-family: Journey to thailand;
src: url('../fonts/Journey to Thailand.ttf');
}
.particles-container{
  height:38.2vh;
  width:100vw;
  overflow: hidden;
  clip-path:polygon(0% 0%,100% 0%, 100% 100%,0% 61.8%);
  position: relative;
}
#particles-js{
  height: 100%;
  width: 100%;
  transform:scale(1.1);
  background-image: linear-gradient(-100deg,#21D4FD,#B721FF);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}

.clover{
  height: 4rem;
  width: 4rem;
  left:0.5rem;
  bottom:60%;
  position: absolute;
  background-image: url('../images/icons/clover.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(1.2) contrast(1.2);
}
.home-main{
  width:100%;
  position: absolute;
  height: 61.8vh;
  top:38.2vh;
}
.home-main h1{
  color:#454545;
  font-size: 3rem;
  font-family: Journey to thailand;
  font-weight: 500;
  text-align: center;
  user-select: none;
  opacity: 1;
  padding-right: 0px;
  margin: 0;
  animation: title-anim 0.95s ease-out;
}
@keyframes title-anim{
    0%{
      opacity: 0;
    }
}

.home-main h2{
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: 800;
  text-align: center;
  user-select: none;
  position: relative;
  letter-spacing: 1em;
  text-transform: uppercase;
  padding-top: 1rem;
  color:#909090;
  opacity: 1;
  margin: 0;
  text-rendering: optimizeLegibility;
  animation: subtitle-anim 0.7s ease-out;
}
@keyframes subtitle-anim{
  0%{
    opacity: 0;
    letter-spacing: 1.25em;
  }
}
.home-main h2 span{
  display: block;
  padding-top: 4px;
}
.contact-btn{
  border: none;
  color:#fff;
  font-size: 1.05em;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  border-radius:100px;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(100deg,#21D4FD,#B721FF);
  background-size: 400% 100%;
  background-position: 0% 100%;
  box-shadow: 0 16px 48px 1px rgba(20,20,200,0.15);
  outline: none;
  margin-top: 4rem;
  margin-left:50%;
  user-select: none;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.25s ease-out;
  animation: contact-btn-bg-anim 5s ease-in-out alternate infinite;
}
@keyframes contact-btn-bg-anim{
  0%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 100% 100%;
  }
}
.home-main button:hover{
  box-shadow: 0 8px 28px 0px rgba(20,20,200,0.35);
}
.contact-box{
  height:100%;
  width:100vw;
  position: fixed;
  z-index: 100;
  background-color: #f9f9f9;
  padding-top: 32px;
  padding-bottom: 32px;
  display: none;
}
.contact-box div{
  user-select: none;
  color:#454545;
  text-align: center;
  margin-top: 0;
  padding: 32px;
  font-size: 24px;
  font-family: Oxygen,sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
.social-links{
  list-style:none;
  position: absolute;
  left:0;
  right:0;
  text-align: center;
  padding: 0;
}
.social-links li{
  display: inline-block;
}
.social-links a{
  display: block;
  height:32px;
  width:32px;
  margin: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  user-select: none;
}
.instagram-link{
  background-image: url('../images/icons/instagram.svg');
}
.facebook-link{
  background-image: url('../images/icons/facebook.svg');
}
.twitter-link{
  background-image: url('../images/icons/twitter.svg');
}
.whatsapp-link{
  background-image: url('../images/icons/whatsapp.svg');
}
.contact-box-close{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 16px;
  background-color: #f9f9f9;
  text-align: center;
  color:#a9a9a9;
  font-family: monospace;
  user-select: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: 500;
  position: absolute;
  top:0;
  left:0%;
}
.tap-to-focus{
  background-color: #f3f3f3;
  color:#707070;
  font-size: 1.2rem !important;
  font-family: monospace;
  width: 80%;
  line-height: 32px;
  user-select: none;
  right:1rem;
  left:1rem;
  text-align: center;
  border-radius:5px 5px 0px 0px;
  z-index: 2;
  position: absolute;
  bottom: 0%;
  margin: 0 auto;
  overflow: hidden;
  padding: 4px 16px;
  animation: tap-to-focus-entry 1.5s ease-in-out;
  transition: all 0.2s ease-out;
}
.tap-to-focus:active{
  opacity: 0.2;
  bottom:-5%;
}
.tap-to-focus span{
  font-size: 1rem;
}
@keyframes tap-to-focus-entry{
  0%{
    bottom:-10%;
  }
  100%{
    bottom: 0%;
  }
}
.camera-icon{
  left: 16px;
  padding-top: 4px;
  position: absolute;
}
.arrow-down{
  position: absolute;
  right:16px;
  padding-top: 4px;
  animation: arrow-down-anim 1s ease-out 3 0.25s;
}
@keyframes arrow-down-anim{
  0%{
  opacity: 0.5;
  margin-top:-10%;
  }
  100%{
  opacity: 1;
  margin-top:10%;
  }
}
.photos-section{
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.1);
  z-index: 3;
  position: absolute;
  top:100%;
  width: 100%;
}
.photos-section figure{
  position: relative;
  margin: 0;
  overflow: hidden;
}
.photos-section img{
  height:auto;
  width: 100%;
  min-height:72px;
  max-width: 100%;
  filter: blur(3.5px);
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}
.photos-section figure:hover img{
  filter: blur(0px);
}

.photos-section figcaption{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0%;
}
.photos-section figcaption button{
  border:none;
  background: transparent;
  color:#fff;
  padding: 8px 8px;
  outline: none;
  cursor:pointer;
  opacity: 0;
  bottom:0%;
  right: 0%;
  z-index: 3;
  text-shadow: 0 0 100px rgba(0,0,0,1);
  position: absolute;
  transition: all 0.25s ease-out;
}
.photos-section figure:hover figcaption button{
  opacity: 1;
}
.photos-section figcaption div{
  opacity: 1;
  transition: all 0.25s;
}
.photos-section figcaption h3,h4{
  color:#fff;
  position: absolute;
  transition: all 0.25s ease-out;
  margin: 0;
  padding: 16px;
  z-index: 1;
  text-shadow: 0 0 25px rgba(0,0,0,0.65);
}
.photos-section figcaption h3{
  top:0%;
  max-width: 50%;
  font-size: 1.15rem;
  font-weight: 300;
  padding-bottom: 16px;
  font-family: 'Oxygen',sans-serif;
}
.photos-section figcaption div{
  top:0%;
  height:100%;
  width:100%;
  background-image: linear-gradient(0deg,#21D4FD,#B721FF);
  opacity: 0.2;
}
.photos-section figcaption h4{
  bottom:0%;
  max-width: 80%;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Oxygen',sans-serif;
}
.photos-section figure:hover figcaption div{
  opacity: 0;
}
.photos-section figure:hover figcaption h3{
  opacity: 0;
}
.photos-section figure:hover figcaption h4{
  opacity: 0;
}



/*desktop*/

@media (min-width:768px) {
  .particles-container{
    height:100vh;
    width: 38.2vw;
    clip-path:polygon(0% 0%,100% 0%,61.8% 100%,0% 100%);
  }
}
